{% extends 'index.html' %}
{% load static %}
{% block head %}
        <link rel="stylesheet" href={% static 'css/menu.css' %}>    
        <link rel="stylesheet" href={% static 'css/cabinet.css' %}>
        <script src="{% static 'js/cabinet.js' %}" defer></script>
    {% endblock %}
{%  block content %}
<h2>Кабинет</h2>
    <h3>Добро пожаловать {{ user.username }}</h3>
    <h3>EMAIL {{ user.email }}</h3>
    <h3>Ваши заказы: </h3>
    <table>
    <tr>
        <th>Дата заказа</th>
        <th>Адрес</th>
        <th>Телефон</th>
        <th>Итог</th>
        <th>Статус</th>
        <th></th>
    </tr>
    {% for one in orders %}
        <tr>
        <td>{{ one.data }}</td>
        <td>{{ one.adress }}</td>
        <td>{{ one.tel }}</td>
        <td>{{ one.total }}</td>
        <td>{{ one.status }}</td>
        <td>
        <button onclick="f1('{{ one.id }}', '{{ one.zakaz }}')">Подробнее</button>
            <p id="{{ one.id }}"></p>
        </td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}