{% extends 'index.html' %}
{% load static %}
{% block head %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href={% static 'css/menu.css' %}>    
    <link rel="stylesheet" href={% static 'css/cart.css' %}>
    <script src="{% static 'js/cart.js' %}" defer></script>
{% endblock %}
{%  block content %}
<h2>Корзина</h2>
    <h3>
    {{ sps }}
    </h3>
    
    <table>
    {% for one in items %}
    <tr>
        <td>{{ one.tovar.name }}</td>
        <td>
            <img src="{% static one.tovar.image %}" alt="" height="150px" width="auto">
        </td>
    <td>
        <a href="{% url 'edit' one.id -1 %}">
            <button> - </button>
        </a>
    </td>
        
    <td>{{ one.count }}</td>
        <td>
            <a href="{% url 'edit' one.id 1 %}">
                <button> + </button>
            </a>
        </td>
    <td>{{ one.summa }}</td>
    <td>
        <a href="{% url 'delete' one.id %}">
        <button>Удалить</button>
        </a>
    </td>
    </tr>
    {% endfor %}
    </table>
    <h3>Итог: {{ total }}</h3>
    <br>
    <button class="zakazbtn" id="but1">Оформить заказ</button>
    <form action="" method="post" hidden id="form1">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Оформить">
    </form>
{% endblock %}